

@font-face {
    font-family: 'ichiraku';
    src: url('./japanrich-regular-webfont.woff') format('woff'),
        url('./japanrich-regular-webfont.woff2') format('woff2');
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ichiraku';
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: no-repeat url('./ichiraku-outside.png');
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
    padding: 0 3rem 0 6rem;
    font-size: 3.5rem;
}

nav {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button {
    background: none;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    border: none;
}

nav button:hover {
    background-color: black;
    opacity: .4;
    color: white;
}

#content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    width: 40%;
    background-color: white;
    opacity: .7;

    padding: 2.5rem;
    border-radius: 10px;
    border: .5rem solid orange;

    font-size: 1.15rem;
    text-align: center;
    line-height: 3rem;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#menu-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    gap: 2rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0, .7);

    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-item img {
    object-fit: contain;
    width: 50%;
    height: auto;
}

.menu-item img + p {
    color: white;
    font-size: 1.5rem;
}

#footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 4rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}