

@font-face {
    font-family: 'ichiraku heading';
    src: url('./fonts/japanrich-regular-webfont.woff') format('woff'),
        url('./fonts/japanrich-regular-webfont.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'ichiraku text';
    src: url('./fonts/yozakurajp-regular-webfont.woff') format('woff'),
        url('./fonts/yozakurajp-regular-webfont.woff2') format('woff2');
    font-style: normal;
}

@keyframes fadeInOpaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTranslucent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ichiraku heading', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: no-repeat url('./ichiraku-outside.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
    padding: 0 3rem 0 6rem;
    font-size: 3.5rem;
}

nav {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button {
    background: none;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 10px;
    border: none;
}

nav button:hover {
    background-color: black;
    opacity: .4;
    color: white;
}

#content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
    padding: 2rem;
}

#welcome {
    width: 40%;
    background-color: white;

    padding: 2.5rem;
    border-radius: 10px;
    border: .5rem solid orange;

    font-family: "ichiraku text";
    font-size: 1.65rem;
    text-align: center;
    line-height: 3rem;

    animation: fadeInTranslucent ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#menu-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fadeInOpaque ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-item img {
    object-fit: contain;
    width: 50%;
    height: auto;
}

.menu-item img + p {
    width: 50%;

    font-family: "ichiraku text";
    font-size: 1.5rem;
    color: black;
    background-color: orange;
    padding: .25rem;
    text-align: center;
}

#about-grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
}

.bio-item#shop-bio {
    grid-column: 1 / 4;
}

.bio-item {
    width: 100%;
    background-color: white;
    opacity: .8;

    padding: 1.5rem;
    border-radius: 10px;
    border: .5rem solid orange;

    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;

    animation: fadeInTranslucent ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bio-item h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.bio-item p {
    font-family: "ichiraku text";
}

#form-container {
    width: 40%;
    background-color: white;

    padding: 1.5rem;
    border-radius: 10px;
    border: .5rem solid orange;
    
    text-align: center;
    line-height: 3rem;

    animation: fadeInTranslucent ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    overflow: scroll;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
}

.form-item label {
    font-family: "ichiraku text";
}

.form-item input,
.form-item textarea {
    padding: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-item:nth-child(1) label,
.form-item:nth-child(2) label {
    padding-right: 2rem;
}

.form-item:nth-child(3) label {
    padding-right: .9rem;
}

.form-item input[type = "text"],
.form-item input[type = "email"] {
    height: 2rem;
}

.form-item:nth-child(4) {
    display: flex;
    flex-direction: column;
}

#form button {
    background: orange;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
}

#form button:hover {
    color: white;
    box-shadow: 0 0 4px 4px black ;
}

#footer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}